.theme-am {
  background-color: #22475e;
  color: #f0e797;
  border: #75b0ba; }

.theme2-noon {
  background-color: #ffb759;
  color: #1fcecb;
  border: #50ec55; }

.theme3-pm {
  background-color: #5b164c;
  color: #e11c5e;
  border: #1f204f; }
